### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# Calculate the total number of players
player_count = len(purchase_data["SN"].unique())
#Display data frame containing total number of players
total_players_df=pd.DataFrame({"Total Players":[player_count]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculate the number of unique items
unique_items = len(purchase_data["Item ID"].unique())
#Calculate the average prices
average_price=purchase_data.loc[:,"Price"].mean()
#Calculate the total number of purchases
total_purchases=len(purchase_data["Purchase ID"])
#Calculate the total revanue
total_revanue=sum(purchase_data["Price"])
#Create a summary data frame
summary_df=pd.DataFrame({"Number of Unique Items":[unique_items],
                         "Average Price":[average_price],
                         "Number of Purchases":[total_purchases],
                         "Total Revanue":[total_revanue]})

#Display the summary data frame
summary_df.style.format({"Average Price": "${:,.2f}", 
                      "Total Revanue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Create set with sn and gender
gender_df = purchase_data[["SN", "Gender"]]
#Drop Duplicate rows to account for multiple purchases made by player
count_gender=gender_df.drop_duplicates()
#Player count by gender
gender_sum_df=pd.DataFrame(count_gender['Gender'].value_counts())
#Add percentage of players column to data frame
gender_sum_df["Percentage of Players"] = (gender_sum_df["Gender"]/gender_sum_df["Gender"].sum()*100)
#Display data frame
gender_sum_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_grouped = purchase_data.groupby(["Gender"])
price_count_df = pd.DataFrame(gender_grouped["Price"].count())
price_mean_df=pd.DataFrame(gender_grouped["Price"].mean())
price_sum_df=pd.DataFrame(gender_grouped["Price"].sum())

gender_grouped = purchase_data.groupby(["Gender","SN"])
tpp_df=pd.DataFrame(gender_grouped["Price"].sum())
tpp_gr=tpp_df.groupby(["Gender"])
atpp_df=pd.DataFrame(tpp_gr["Price"].mean())

#Label colums
pur_count=price_count_df.rename(columns={"Price": "Purchase Count"})
app=price_mean_df.rename(columns={"Price": "Average Purchase Price"})
tpv=price_sum_df.rename(columns={"Price": "Total Purchase Value"})
atpp=atpp_df.rename(columns={"Price": "Avg Total Purchase per Person"})

#Merge into a summary data frame to hold the results 
summary_df1 = pd.merge(pur_count, app, on="Gender")
summary_df2 =pd.merge(tpv, atpp, on="Gender")
summary_df=pd.merge(summary_df1, summary_df2, on="Gender")

#Display data frame formatted for currency
summary_df.style.format({"Average Purchase Price": "${:,.2f}", 
                        "Total Purchase Value": "${:,.2f}",
                        "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# Establish bins for ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_groups=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [36]:
#Catagorize existing players using age bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_groups, include_lowest=True)
#Count unique players in each age group
age_group_df =pd.DataFrame(purchase_data.groupby("Age Ranges")['SN'].nunique())
#Calculate percentages by age group
age_group_df["Percentage of Players"]=(age_group_df["SN"]/age_group_df["SN"].sum()*100)
#Label and format summary data frame
age_demo_df=age_group_df.rename(columns={"SN": "Total Count"})
age_demo_df=age_demo_df.style.format({"Percentage of Players":"{:.2f}%"})
age_demo_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#Catagorize existing players using age bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_groups, include_lowest=True)

age_grouped = purchase_data.groupby(["Age Ranges"])
age_count_df = pd.DataFrame(age_grouped["Price"].count())
age_mean_df=pd.DataFrame(age_grouped["Price"].mean())
age_sum_df=pd.DataFrame(age_grouped["Price"].sum())

age_grouped = purchase_data.groupby(["Age Ranges","SN"])
tpp_df=pd.DataFrame(age_grouped["Price"].sum())
tpp_gr=tpp_df.groupby(["Age Ranges"])
atpp_df=pd.DataFrame(tpp_gr["Price"].mean())

#Label colums
pur_count=age_count_df.rename(columns={"Price": "Purchase Count"})
app=age_mean_df.rename(columns={"Price": "Average Purchase Price"})
tpv=age_sum_df.rename(columns={"Price": "Total Purchase Value"})
atpp=atpp_df.rename(columns={"Price": "Avg Total Purchase per Person"})

#Merge into a summary data frame to hold the results 
summary_df1 = pd.merge(pur_count, app, on="Age Ranges")
summary_df2 =pd.merge(tpv, atpp, on="Age Ranges")
summary_df=pd.merge(summary_df1, summary_df2, on="Age Ranges")

#Display data frame formatted for currency
summary_df.style.format({"Average Purchase Price": "${:,.2f}", 
                        "Total Purchase Value": "${:,.2f}",
                        "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame