### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# Calculate the total number of players
player_count = len(purchase_data["SN"].unique())
#Display data frame containing total number of players
total_players_df=pd.DataFrame({"Total Players":[player_count]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculate the number of unique items
unique_items = len(purchase_data["Item ID"].unique())
#Calculate the average prices
average_price=purchase_data.loc[:,"Price"].mean()
#Calculate the total number of purchases
total_purchases=len(purchase_data["Purchase ID"])
#Calculate the total revanue
total_revanue=sum(purchase_data["Price"])
#Create a summary data frame
summary_df=pd.DataFrame({"Number of Unique Items":[unique_items],
                         "Average Price":[average_price],
                         "Number of Purchases":[total_purchases],
                         "Total Revanue":[total_revanue]})

#Display the summary data frame
summary_df.style.format({"Average Price": "${:,.2f}", 
                      "Total Revanue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
#Create set with id and gender
gender_df = purchase_data[["SN", "Gender"]]
#Drop Duplicate rows to account for multiple purchases made by player
count_gender=gender_df.drop_duplicates()
#Player count by gender
gender_sum_df=pd.DataFrame(count_gender['Gender'].value_counts())
#Add percentage of players column to data frame
gender_sum_df["Percentage of Players"] = (gender_sum_df["Gender"]/gender_sum_df["Gender"].sum()*100)
#Display data frame
gender_sum_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#Group data by gender
female_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
male_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
other_data= purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
#Analyze data for each gender group

#Create data frame for male
female_set=female_data[["SN","Price"]]                  
#Calculate the total number of purchases
total_purchases_female=len(female_data["SN"])
#Calculate the average prices
average_price_female=female_data.loc[:,"Price"].mean()
#Calculate the total revanue
total_revanue_female=sum(female_data["Price"])
#Caluculate average total purchase per male
female_grouped=female_set.groupby(["Price"])

#Create data frame for male
male_set=male_data[["SN","Price"]]                  
#Calculate the total number of purchases
total_purchases_male=len(male_data["SN"])
#Calculate the average prices
average_price_male=male_data.loc[:,"Price"].mean()
#Calculate the total revanue
total_revanue_male=sum(male_data["Price"])
#Caluculate average total purchase per male
male_grouped=male_set.groupby(["Price"])

#Create data frame for male
other_set=other_data[["SN","Price"]]                  
#Calculate the total number of purchases
total_purchases_other=len(other_data["SN"])
#Calculate the average prices
average_price_other=other_data.loc[:,"Price"].mean()
#Calculate the total revanue
total_revanue_other=sum(other_data["Price"])
#Caluculate average total purchase per male
other_grouped=other_set.groupby(["Price"])

#Create a summary data frame for each gender group
summary_female_df=pd.DataFrame({"Purchase Count":[total_purchases_female],
                             "Average Purchase Price":[average_price_female],
                             "Total Purchase Value":[total_revanue_female]})

summary_men_df=pd.DataFrame({"Purchase Count":[total_purchases_male],
                             "Average Purchase Price":[average_price_male],
                             "Total Purchase Value":[total_revanue_male]})

summary_other_df=pd.DataFrame({"Purchase Count":[total_purchases_other],
                             "Average Purchase Price":[average_price_other],
                             "Total Purchase Value":[total_revanue_other]})

summary_other_df





summary_men_df

   Purchase Count  Average Purchase Price  Total Purchase Value
0             652                3.017853               1967.64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame