In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
# Calculate the total number of players
player_count = len(purchase_data["SN"].unique())
#Display data frame containing total number of players
total_players_df=pd.DataFrame({"Total Players":[player_count]})
total_players_df

   Total Players
0            576

In [26]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_grouped = purchase_data.groupby(["Gender"])
price_count_df = pd.DataFrame(gender_grouped["Price"].count())
price_mean_df=pd.DataFrame(gender_grouped["Price"].mean())
price_sum_df=pd.DataFrame(gender_grouped["Price"].sum())

gender_grouped = purchase_data.groupby(["Gender","SN"])
tpp_df=pd.DataFrame(gender_grouped["Price"].sum())
tpp_gr=tpp_df.groupby(["Gender"])
atpp_df=pd.DataFrame(tpp_gr["Price"].mean())

#Label colums
pur_count=price_count_df.rename(columns={"Price": "Purchase Count"})
app=price_mean_df.rename(columns={"Price": "Average Purchase Price"})
tpv=price_sum_df.rename(columns={"Price": "Total Purchase Price"})
atpp=atpp_df.rename(columns={"Price": "Avg Total Purchase per Person"})

#Merge into a summary data frame to hold the results 
summary_df1 = pd.merge(pur_count, app, on="Gender")

summary_df2 =pd.merge(tpv, atpp, on="Gender")

summary_df=pd.merge(summary_df1, summary_df2, on="Gender")

summary_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727