In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
# Calculate the total number of players
player_count = len(purchase_data["SN"].unique())
#Display data frame containing total number of players
total_players_df=pd.DataFrame({"Total Players":[player_count]})
total_players_df

   Total Players
0            576

In [26]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_grouped = purchase_data.groupby(["Gender"])
price_count_df = pd.DataFrame(gender_grouped["Price"].count())
price_mean_df=pd.DataFrame(gender_grouped["Price"].mean())
price_sum_df=pd.DataFrame(gender_grouped["Price"].sum())

gender_grouped = purchase_data.groupby(["Gender","SN"])
tpp_df=pd.DataFrame(gender_grouped["Price"].sum())
tpp_gr=tpp_df.groupby(["Gender"])
atpp_df=pd.DataFrame(tpp_gr["Price"].mean())

#Label colums
pur_count=price_count_df.rename(columns={"Price": "Purchase Count"})
app=price_mean_df.rename(columns={"Price": "Average Purchase Price"})
tpv=price_sum_df.rename(columns={"Price": "Total Purchase Price"})
atpp=atpp_df.rename(columns={"Price": "Avg Total Purchase per Person"})

#Merge into a summary data frame to hold the results 
summary_df1 = pd.merge(pur_count, app, on="Gender")

summary_df2 =pd.merge(tpv, atpp, on="Gender")

summary_df=pd.merge(summary_df1, summary_df2, on="Gender")

summary_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [31]:
# Establish bins for ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_groups=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [49]:
#Catagorize existing players using age bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_groups, include_lowest=True)
age_group_df =pd.DataFrame(purchase_data.groupby("Age Ranges")['SN'].nunique())
age_group_df["Percentage of Players"]=(age_group_df["SN"]/age_group_df["SN"].sum()*100)
age_demo_df=age_group_df.rename(columns={"SN": "Total Count"})
age_demo_df.style.format({"Percentage of Players":"{:.2f}%"})

In [99]:
purchase_data = pd.read_csv(file_to_load)

#Retrieve the Item ID, Item Name, and Item Price columns
items_data=purchase_data[["Item ID","Item Name","Price"]]

#group by item and item name
item_grouped = items_data.groupby(["Item ID","Item Name"])
item_count = pd.DataFrame(item_grouped["Price"].count())
item_mean=pd.DataFrame(item_grouped["Price"].mean())
item_sum=pd.DataFrame(item_grouped["Price"].sum())

#Label Columns
pur_count=item_count.rename(columns={"Price": "Purchase Count"})
app=item_mean.rename(columns={"Price": "Item Price"})
tpv=item_sum.rename(columns={"Price": "Total Purchase Value"})

#Merge into a summary data frame to hold the results 
df=pd.merge(pur_count, app, on=['Item ID', 'Item Name'])
summary_df=pd.merge(df, tpv, on=['Item ID', 'Item Name'])

#Sort by total purchase value to identify top 5 spenders
sorted_df = summary_df.sort_values(by="Total Purchase Value", ascending=False)
top5=sorted_df.head(5)

#Display data frame formatted for currency
top5.style.format({"Item Price": "${:,.2f}", 
                   "Total Purchase Value": "${:,.2f}"})