### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Calculate the total number of schools
schools_total=len(school_data)

#Calculate the total number of students
students_total=len(student_data)

#Calculate the average math score
math_avg=student_data["math_score"].mean()

#Calculate the total budget
budget_total=school_data["budget"].sum()

#Calculate the average reading score
reading_avg=student_data["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math=student_data.loc[student_data["math_score"]>69]
per_math=len(passing_math)/len(student_data["math_score"])

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_read=student_data.loc[student_data["reading_score"]>69]
per_read=len(passing_read)/len(student_data["reading_score"])

#Calculate the percentage of students who passed math and reading
math_pass_read=student_data.loc[student_data["math_score"]>69, ["reading_score"]]
both_pass=math_pass_read.loc[math_pass_read["reading_score"]>69]
per_both_pass=len(both_pass)/len(student_data["reading_score"])

#Create a dataframe to hold the above results
df=pd.DataFrame({"Total Schools":[schools_total],
                 "Total Students":[students_total],
                 "Total Budget":[budget_total],
                 "Average Math Score":[math_avg],
                 "Average Readig Score":[reading_avg],
                 "% Passing Math":[per_math*100],
                 "% Passing Reading":[per_read*100],
                 "% Overall Passing":[per_both_pass*100]})
#Format and display dataframe
df.style.format({"Total Students":"{:,.2f}",
                 "Total Budget": "${:,.2f}",
                 "% Passing Reading": "{:.2f}%",
                 "% Passing Reading": "{:.2f}%",
                 "% Overall Passing": "{:.2f}%"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [17]:
#Total students per school
school_gr=school_data_complete.groupby("school_name")
students_count=pd.DataFrame(school_gr["Student ID"].count())
students_count.head()
#Total school budget
school_gr=school_data_complete.groupby("school_name")
school_budget=pd.DataFrame(school_gr["budget"].unique())
school_budget.head()
#Per student budget
student_budget=pd.DataFrame(school_budget["budget"]/students_count["Student ID"])
school_budget.head()

                         budget
school_name
Bailey High School    [3124928]
Cabrera High School   [1081356]
Figueroa High School  [1884411]
Ford High School      [1763916]
Griffin High School    [917500]

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type